# Ignore everything
/*

!/.github
!/buildSrc
!/Contents
!/gradle
!/junit
!/src
!/zomboid

!/.cliff.toml
!/.editorconfig
!/.emmyrc.json
!/.envrc
!/.gitattributes
!/.gitignore
!/build.gradle*
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/preview.png
!/proguard.conf
!/README.md
!/settings.gradle*
!/shell.nix
!/workshop.txt
